@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-text-size-adjust: 100%;
}

input,
textarea,
select {
  font-size: 16px;
}
